$BAKANO-PINK: #e6285c;
$BAKANO-DARK: #191423;
$BAKANO-LIGHT: #f5f3ef;
$BAKANO-PURPLE: #85529c;

$white: #ffffff;
$text-light: #f5f5f5;
$overlay-purple: rgba($BAKANO-PURPLE, 0.1);

$BAKANO-GREEN: #3bb77e;
